body{
    margin: 0;
    padding: 5%;
    text-align: center;
}
body{
    background-image: url(https://fondosmil.com/fondo/1823.jpg);
}
input[type="email"], input[type="password"], input[type="text"], input[type="number"]{
    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 8px;
    border: 1px solid rgb(211, 205, 205);
    margin: 20px auto;
}

input[type="submit"]{
    padding: 10px;
    color: #fff;
    background: #3734eb;
    width: 320px;
    margin: 20px auto;
    margin-top: 0;
    border: 20px;
    border-radius: 20px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #3a2fda;
}
.form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 60px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  .form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}